//Page background image
body{
    background: #1E1E1E;
    font-family: 'Times New Roman', serif;
}



/* Navigation Bar */
box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 23px 0px 19px;
gap: 64px;
isolation: isolate;
