/*Page background*/
/* body{
    background: #1E1E1E;
    font-family: 'Times New Roman', serif;
} */


/* MetaLens Logo */
header img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 50px;
    
    width: 135px;
    height: 112px;
    
    background: #DDDDDD;
    border-radius: 5px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 7;
}

body{
    height:100vh;

}

/*Sign Up Button*/
button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1px 15px;
    gap: 40px;
    
    position: absolute;
    width: 188px;
    height: 76px;
    left: 1459px;
    top: 713px;
    
    background: #2A0ED7;
    border-radius: 10px;
  }
